.Todo {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3a7fff;
}

.todoContainer{
    background-color: rgb(255, 254, 253);
    border-radius: 10px;
    width: 500px;
    min-width: 300px;
    min-height: 400px;
}

.TodoList {
    height: 300px;
    overflow-y: scroll;
}

.completeMsg {
    height: 300px;
}
